<li>
  Question: {{question.content}} By: {{question.name}}
</li>


<!-- display rental details in the component
We'll use a helper called {{each}} to loop through each object in our model and display its information, We loop through each object in the model hook defined in the index route handler, and call it question. For each quesiton, we create a list item and display its name and content. -->
