<h4>Question by: {{question.name}}</h4>
<ul>
  <li>Question: {{question.content}}</li>
  <li>Answer: {{#link-to 'question' question.id}}click here to answer question and see details.{{/link-to}}</li>
</ul>
