<li>
  Question: {{question.content}} By: {{question.name}}
  {{update-question question=question update="update"}}
</li>


<!-- DISPLAY: display question details in the component-->

<!-- UPDATE: include question=question and update="update"in this line, in order to pass the question object, and the update action we're about to create between the two components -->
