<div class="about">
  <ul>
    <li>{{fa-icon "users" class="about-icon"}}<div class="about-item"><h3 class="about-header">Cast &amp; Crew</h3><p>
      Everything you've ever wanted to know about our host Alex Trebek, the Jeopardy! Clue Crew (Sarah, Jimmy, and Kelly), Executive Producer Harry Friedman, and the rest of the team.
    </p></div></li>
    <li>{{fa-icon "user" class="about-icon"}}<div class="about-item"><h3 class="about-header">Alex Trebek, Host</h3><p>
      Alex Trebek has hosted more than 7,000 episodes of Jeopardy! over the past three decades, making him one of television's most recognizable figures...with or without his iconic mustache.
    </p></div></li>
    <li>{{fa-icon "trophy" class="about-icon"}}<div class="about-item"><h3 class="about-header">Awards</h3><p>
      In its over 30-year history, Jeopardy! has garnered more awards than any other game show to date, with impressive totals. That makes for a whole lot of shiny, winged objects on the shelves.
    </p></div></li>
    <li>{{fa-icon "search" class="about-icon"}}<div class="about-item"><h3 class="about-header">The Clue Crew</h3><p>
      Since the Clue Crew was created in 2001, Sarah Whitcomb Foss, Jimmy McGuire, and Kelly Miyahara have recorded clues in over 300 cities, 45 countries, all 50 states and on all seven continents
    </p></div></li>
  </ul>
</div>
