<div class="container">
<nav role="off-canvas">
  <ul>
    <li>{{#link-to 'favorites'}}Favorties{{/link-to}}</li>
  </ul>
</nav>
  <header class = "jumbotron">
    <h1>{{#link-to 'index'}}Message Board{{/link-to}}</h1>
  </header>
    {{outlet}}
    <footer>
      <p>Week 3 | JavaScript - Ember JS | Independent Project</p>
    </footer>
</div>
