<div class="container">
  <header class = "jumbotron">
    {{#link-to 'index'}}Home{{/link-to}}
    <h1>Message Board</h1>
  </header>
    {{outlet}}
  <hr>
  <footer>
    <p>Week 3 | JavaScript - Ember JS | Independent Project</p>
  </footer>
</div>
