<h1> Welcome to Message Board </h1>
<h2>Questions</h2>

<ul>
  {{#each model as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>

<!-- question-tile component will manage how a user sees and interacts with a quesiton
contents of the orignial {{#each}} loop are in the question-tile template  -->

{{new-question save2="save3"}}

<!-- Here we'll send the new-question component the variable "save2" set to the name of the saving action on the route, "save3". -->
